<div class="center">
  <mat-card>
    <mat-card-title>Schnell-Schnell Login Form</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (click)="login()">
        <mat-form-field>
          <input
            type="email"
            matInput
            placeholder="Enter email"
            formControlName="email"
          />
        </mat-form-field>
        
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Enter password"
            formControlName="password"
          />
        </mat-form-field>
        <div class="errors" *ngIf="password.errors && password.touched"> 
          Please enter a valid password
        </div>
        <div class="errors" *ngIf="email.errors && password.touched"> 
          Please enter a valid email
        </div>
        <div class="button">
          <button mat-raised-button color="primary" [disabled]="!form.valid || !(password.touched && email.touched)">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
