.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.mat-form-field {
  width: 100%;
  padding-top: 15%;
}

mat-card-title {
  display: flex;
  justify-content: center;
  font-size: x-large;
}

mat-card-content {
  display: flex;
  justify-content: center;
  font-size:medium;
}

mat-card {
  width: 400px;
  height: 400px;
}

.errors {
  color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
  position: aboslute;
  right:  0;
  bottom: 0;
}
