.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.mat-form-field {
  width: 100%;
  padding-top: 20%;
}


mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 400px;
  height: 400px;
}

.button {
  display: flex;
  justify-content: flex-end;
  padding-top: 10%;
}
